@import url("https://fonts.googleapis.com/css2?family=Acme&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@100&family=Roboto:wght@100&display=swap");

* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100wv;
  height: 60vh;
  background: yellowgreen;
  border: 3px solid firebrick;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 0.6rem;
}
.items {
  /* width: 20rem;
  height: 20rem; */
  border: 2px solid black;
  background-color: aqua;
  flex: wrap;
  font-size: 3rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.inside-items {
  width: 20rem;
  height: 15rem;
  border: 2px solid rgb(235, 45, 45);
  background-color: rgb(202, 243, 243);
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.second-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-class {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  flex-wrap: wrap;
  background: wheat;
}

.restore {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.square4 {
  display: flex;
  background: linear-gradient(to right, rgb(175, 207, 112), rgb(197, 163, 100));
}
.square5 {
  display: flex;
  background: linear-gradient(45deg, yellowgreen, orange);
  color: rgb(126, 101, 150);
}

.square6 {
  display: flex;
  background: linear-gradient(to left, yellowgreen, orange);
  color: rgb(13, 124, 124);
}

.try {
  width: 300px;
  height: 200px;
  background-color: aquamarine;
  border: 2px solid rebeccapurple;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 2rem 2rem 2rem rgb(148, 148, 224);
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgb(75, 75, 233);
  border-radius: 50%;
}
